
--index-url https://download.pytorch.org/whl/cu126
torch==2.6.0 
torchvision==0.21.0 

# Reset the index URL for the rest
--index-url https://pypi.org/simple
streamlit==1.34.0
pillow==10.4.0
protobuf==3.20.0
jinja2==3.1.4
boto3==1.34.149
seaborn==0.13.2
pandas==2.2.2
pyyaml==6.0.2
# argparse==1.4.0
numpy==2.2.5
# h5py==3.13.0
opencv-python==4.11.0.86
# opencv-python-headless==4.11.0.86
imageio==2.37.0
# scikit-video==1.1.11
packaging==25.0
matplotlib==3.10.1python
aiofiles==24.1.0
# fastapi==0.115.12
# python-multipart==0.0.20
# uvicorn==0.34.2
pytz==2025.2
blinker==1.9.0
click==8.2.0
toml==0.10.2
wrapt==1.17.2
psutil==7.0.0
certifi==2025.4.26
pika==1.3.2